.baoquan-visa {
  .scene {
    .items {
      height: auto;
      margin-bottom: 1.5rem;
      overflow: hidden;

      img {
        flex: none;
        width: auto;
        height: 6rem;
      }

      .content {
        box-sizing: border-box;
        border: solid 1px;
        border-color: transparent #e8e8e8 #e8e8e8;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0.2rem 0 0.5rem;
      }
    }
  }
}
