//text-color
$text-normal: #333333;
$text-light: #666666;
$text-input: #999999;
$text-fade: #999999;
$text-placeholder: #cccccc;
$text-inverse: #FBFBFB;
$text-success: #0DA15B;
$text-fail: #D8473C;
$text-valid-fail: #B44646;
$text-link: #1291FD;

//background-color
$bg-blue: #1390FC;
$bg-btn-grey: #F5F5F5;
$bg-body: #FAFAFA;
$bg-white: #FFFFFF;

$bg-yellow: #F58E13;
$bg-green: #0FA05B;
$bg-red: #D6463D;

$bg-btn-more: #F1F1F1;
$bg-nav-bottom: #F4F5F6;
$bg-nav-item: #F9FAFB;

//border-color
$bd-form: #DDDDDD;
$bd-nav-panel: #EDEEEF;
$bd-search-box: #CCCCCC;

