// @import "./mixin";

@mixin icon {
  display: inline-block;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  @include single-transition(all, 0.2s);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

//icon

.icon-menu {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/menu.svg');
}

.icon-kyc {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/mui/icon/kyc.png');
}

.icon-action {
  @include icon;
  width: px2rem(48);
  height: px2rem(48);
  background-image: url('../images/mui/icon/action-gray.png');
}

.icon-exit-member {
  @include icon;
  width: px2rem(26);
  height: px2rem(28);
  background-image: url('../images/mui/icon/logout.png');
}

.icon-member {
  @include icon;
  width: px2rem(36);
  height: px2rem(28);
  background-image: url('../images/mui/icon/member.png');
}

.icon-org {
  @include icon;
  width: px2rem(36);
  height: px2rem(31);
  background-image: url('../images/mui/icon/org.png');
}

.icon-history {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/mui/icon/operate-history.png');
}

.icon-setting-member {
  @include icon;
  width: px2rem(28);
  height: px2rem(28);
  background-image: url('../images/mui/icon/setting.png');
}

.icon-noti {
  @include icon;
  width: px2rem(26);
  height: px2rem(28);
  background-image: url('../images/mui/icon/noti.png');
}

.icon-back {
  @include icon;
  width: px2rem(19);
  height: px2rem(32);
  background-image: url('../images/mui/icon/go-back.png');
}

.icon-right {
  @include icon;
  width: px2rem(13);
  height: px2rem(24);
  background-image: url('../images/mui/icon/arrow-right.png');
}

.icon-mini-right {
  @include icon;
  width: px2rem(9);
  height: px2rem(14);
  background-image: url('../images/mui/icon/mini-right-arrow.png');
}

.icon-accordion {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/mui/icon/acc-toggle.png');
}

.icon-add {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/mui/icon/add-product.png');
}

.icon-selected {
  @include icon;
  width: px2rem(23);
  height: px2rem(16);
  background-image: url('../images/mui/icon/list-selected.png');
}

.icon-form-select-arrow {
  @include icon;
  width: px2rem(15);
  height: px2rem(20);
  background-image: url('../images/mui/icon/form-select-arrow.png');
}

.icon-right-mini-gary {
  @include icon;
  width: px2rem(9);
  height: px2rem(14);
  background-image: url('../images/mui/icon/nav-all-right.png');
}

.icon-light {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/light.svg');
}

.icon-case {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/case.svg');
}

.icon-process {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/process.svg');
}

.icon-contact {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/contact.svg');
}

.icon-person {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/person.svg');
}

.icon-setting {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/setting.svg');
}

.icon-exit {
  @include icon;
  width: px2rem(36);
  height: px2rem(36);
  background-image: url('../images/svg/site/exit.svg');
}
