.product-step {
  width: 100%;
  max-width: 700px;
  margin: auto;
  height: 368px;
  padding-top: 36px;

  button {
    background-color: transparent !important;

    span {
      color: #333 !important;
    }
  }
}
