$width: 1180px;
$blue: #1687ee;
$blue1: #83a3db;
$blue2: #e3effe;
$blue3: #1151bb;
$blue4: #424f6b;
$blue5: #086cea;
$white: #fff;
$black: #666;
$black-dark: #333;
$black-light: #999;
$bg-black: #020f23;
$bg-black1: #0a1e3e;
$bg-gradient: linear-gradient(to right, #00ccf6, #0990f2, #1061fe);
$bg-gradient1: linear-gradient(to top, #00ccf6, #0990f2, #1061fe);
$border: #d2d2d2;
$border-light: #eee;