.edit-organization, .edit-product {

  .title {
    margin-top: 24px;
    font-size: 1.8rem;
    color: #333;
  }

  .item {
    margin: 8px 0 32px 0;
    border-top: 1px solid #ccc;

    &:first-child {
      border-top: 0;
    }

    .fr {
      float: left;
      font-size: 1.6rem;
      width: 35%;
      padding-top: 32px;
    }

    .item-list {
      width: 50%;
      margin: 0 25%;

      svg {
        right: 0 !important;
        fill: #333 !important;
      }
    }
  }
}
