.help-contain {
  display: flex;
  height: 700px;

  .help-tabs {
    padding-top: 60px;
    width: 25rem;
    border-right: 1px solid #eee;

    ul {
      text-align: right;
      margin-right: 50px;
    }

    li {
      padding-bottom: 20px;
      line-height: 1.6;
      color: #666;
      font-size: 16px;
      list-style-type: none;

      &:hover {
        cursor: pointer;
      }

      &.active {
        color: #333;
        font-weight: bold;
      }
    }
  }

  .content {
    padding: 60px 30px 0;
    width: 75rem;

    h5 {
      @include font-dpr(28px);
      line-height: 2em;
      margin: px2rem(20) 0;
      font-size: 16px;
      color: #1390fc;
    }

    p {
      margin: px2rem(60) 0;
      color: #999;
      font-size: 16px;
    }
  }

  .passive {
    display: none;
  }

  .active {
    display: block;
  }
}
